extends layout

block head
  link(rel='stylesheet', href='/stylesheets/vendor/jquery-ui-1.10.0.custom.min.css')
  link(rel='stylesheet', href='/stylesheets/vendor/font-awesome.min.css')
  script(src='/javascript/dj.js')
  script(src='/javascript/vendor/jquery-ui-1.10.0.custom.min.js')

block content
  .container
    .row
      .span12
        h1 Surround Sound
        h3 Lounge Name
    .row
      .span6
        .well.well-small
          .song
            img.coverart-large.img-rounded.img-polaroid(src="http://www.progarchives.com/progressive_rock_discography_covers/1199/cover_5110910112009.jpg")
            .controls
              .button.btn
                i.icon-step-backward
              .button.btn
                i.icon-play
              .button.btn
                i.icon-step-forward
            .title Lateralus
            .artist Tool
            .progress
              .bar(style= "width: 60%;")

        hr

        .btn#add-song Add Song

        ul#queue
          li
            span.ui-icon.ui-icon-arrowthick-2-n-s
            .well.well-small
              .song
                img.coverart-large.img-rounded.img-polaroid(src="http://www.progarchives.com/progressive_rock_discography_covers/1199/cover_5110910112009.jpg")
                .title Lateralus
                .artist Tool
          li
            span.ui-icon.ui-icon-arrowthick-2-n-s
            .well.well-small
              .song
                img.coverart-large.img-rounded.img-polaroid(src="http://www.progarchives.com/progressive_rock_discography_covers/1199/cover_5110910112009.jpg")
                .title Lateralus
                .artist Tool2
          li
            span.ui-icon.ui-icon-arrowthick-2-n-s
            .well.well-small
              .song
                img.coverart-large.img-rounded.img-polaroid(src="http://www.progarchives.com/progressive_rock_discography_covers/1199/cover_5110910112009.jpg")
                .title Lateralus
                .artist Tool2
      .span6
