extends layout

block head
  link(rel='stylesheet', href='/stylesheets/login.css')

block content
  .container
      form.form-signin(method="POST", action="/register")
          h2.form-signin-heading Register
          input.input-block-level(type='text', name="email", placeholder='Email address')
          input.input-block-level(type='text', name="username", placeholder='DJ Name')
          input.input-block-level(type='password', name="password", placeholder='Password')
          input.input-block-level(type='password', name="confirmpassword", placeholder='Confirm Password')
          button.btn.btn-large.btn-primary(type='submit') Register