body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.coverart-large {
	height: 50px;
	width: 50px;
}

.song {
	height: 60px;
}
	.song .coverart-large {
		float: left;
		margin-right: 10px;
	}
	.song .title {
		font-weight: bold;
	}
	.song .progress {
		margin-top: 5px;
	}

#queue {
	margin: 0;
}
#queue li {
	margin: 0;
	list-style: none;
}
#queue li .well {
	margin-bottom: 0;
}

.progress {
	position: relative;
}
.progress .left, .progress .right {
	z-index: 1;
    position: absolute;
    color: #FFF;
    text-shadow: 1px 1px 1px #666;
}
.progress .left {
	left: 3px;
}
.progress .right {
	right: 3px;
}