body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.coverart-large {
	height: 50px;
	width: 50px;
}

.song {
	height: 60px;
}
	.song .coverart-large {
		float: left;
		margin-right: 20px;
	}
	.song .title {
		font-weight: bold;
	}
	.song .progress {
		margin-top: 5px;
		height: 10px;
	}

#queue {
	margin: 0;
}
#queue li {
	margin: 0;
	list-style: none;
}
#queue li .well {
	margin-bottom: 0;
}